<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Perfil - Sector Educativo 05
  link(rel="stylesheet" href="/css/bootstrap.css")
  link(rel="stylesheet" href="/css/animate.css")
  link(rel="stylesheet" href="/css/main.css")
  link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,300,700")
  link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Raleway')
  script(src="/js/main.js")

body
  nav(class="navbar navbar-default navbar-static-top no-margin-nav")
    div(class="container")
      div(class="navbar-header")
        a(href="/")
          img(src="/img/logo.png", width="300" alt="")
      div(id="navbar" class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          li 
            a(href="/") 
              span(class="lnr lnr-home") 
          li
            a(href="/users/#{user.username}")
              span(class="lnr lnr-user")
          li
            a(href="/logout")
              span(class="lnr lnr-exit")
  hr(class="hr-largo")
  
  
  div(class="container")
    div(class="row")
      div(class="col-md-3")
        h1(class="raleway")= user.username
        img(src="#{user.image}", width="200" alt="")
        
      div(class="col-md-9")
        form(action="/editar" method="post")
          input(type="text" name="image" class="form-control" value="#{user.image}")
          div(class="form-group")
            input(type="text" name="name" class="form-control" value="#{user.username}")
          div(class="form-group")  
            textarea(name="bio" class="form-control")
              = user.bio
          div(class="form-group")
            input(type="submit" class="btn btn-success" value="Actualizar")           
            
      
                
              
          
