<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Sector Eductivo 05
  link(rel="stylesheet" href="/css/bootstrap.css")
  link(rel="stylesheet" href="/css/animate.css")
  link(rel="stylesheet" href="/css/main.css")
  link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  script(src="/js/main.js")
  
body
  nav(class="navbar navbar-default navbar-static-top no-margin-nav")
    div(class="container")
      div(class="navbar-header")
        a(href="/")
          img(src="/img/logo.png", width="300" alt="")
      div(id="navbar" class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          li 
            a(href="/") 
              span(class="lnr lnr-home") 
          li
            a(href="/users/#{user.username}")
              span(class="lnr lnr-user")
          li
            a(href="/logout")
              span(class="lnr lnr-exit")
  hr(class="hr-largo")
  
  div(class="container fondo-cont")
    div(class="row")
      div(class="col-md-9")
        h3(id="gf") Publicaciones
        div(id="feed")
          if(statuses[0])
            div(id="postsOuter")
              div(id="socket")
              - for(var i = 0; i<statuses.length; i++) {
                  div(class="post panel panel-default bottom-space")
                    div(class="panel-heading")
                      div(class="timestamp")
                        abbr(class="timeago" title="#{new Date(statuses[i].time).toISOString()}")
                      ul(class="list-inline")
                        li
                          a(href="/users/#{statuses[i].username}")
                            img(src="#{statuses[i].image}" class="circle" width="50" height="50")
                        li
                          div()
                            a=statuses[i].username
                    div(class="panel-body")
                      p()=statuses[i].body        
              - }
          else
            div(id="noposts") No hay posts en este momento  
      div(class="col-md-3")
        h3 Vinculos
        div(class="list-group")
          a(href="" class="list-group-item") First item
          a(href="" class="list-group-item") Second item
          a(href="" class="list-group-item") Third item
          a(href="" class="list-group-item") Third item
          a(href="" class="list-group-item") Third item
          a(href="" class="list-group-item") Third item
          a(href="" class="list-group-item") Third item
          a(href="" class="list-group-item") Third item
