<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Perfil - Sector Educativo 05
  link(rel="stylesheet" href="/css/bootstrap.css")
  link(rel="stylesheet" href="/css/animate.css")
  link(rel="stylesheet" href="/css/main.css")
  link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  script(src="/js/main.js")
  
body
  
  nav(class="navbar navbar-default topnav col-md-12 center-block no-float text-center")
    img(src="/img/logo.jpg" class="img-banner"  width="400" alt="")    
    div(class="container topnav")
      a(class="navbar-brand " href="/") 
        span(class="lnr lnr-home")
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav navbar-right")  
          li
            a(href="/users/#{user.username}")
              span(class="lnr lnr-user")
          li
            a(href="/logout")
              span(class="lnr lnr-exit")

   - var myname = currentUser.username      
    
    if(user.username == currentUser.username)
      - var isMe = true
    else
      - var isMe = false
 
  section(class="top-space")
    div(class="container")
      div(class="row")
        div(Class="col-md-4")
          div(class="imagen-perfil float-right")
            img(src="#{user.image}" class="img-responsive " )
        div(class="col-md-8" )
          ul()
            li()
              if (isMe) 
                h2= user.username 
                p(class="txt-bio")= user.bio
                button(type="button" class="btn btn-default") Editar perfil
              else 
                h2= user.username 
                p(class="txt-bio")= user.bio
                
            
            
            
  section(class="section-publicaciones")
    div(class="container")
      div(class="row")
        div(class="col-sm-8 center-block no-float")
          div(id="postsOuter")
            if(isMe)
              form(action="/statuses" id="postNewStatus" method="post")
                div(class="form-group text-left")
                  label Comparte tu idea...
                  textarea(name="status" id="newstatus" class="form-control")
                div(class="form-group text-right")
                  input(type="submit" class="btn btn-success sub" value="Publicar")
          
            
    - for (var i = 0; i < statuses.length; ++i) {
      div(class="container")
        div(class="row")
          div(class="post col-md-8 center-block no-float content ")
            ul(class="row")
              li(class="col-md-3 ")
                div(class="timestamp")
                  abbr(title="#{new Date(statuses[i].time).toISOString()}")
                a(href="/users/#{user.username}")
                img(src="#{user.image}" class="img-responsive img-publicacion" alt="")

              li(class="col-md-8")
                div(class="text-left")
                  a=user.username
                div(class="text-left")
                  p(class="justify")=statuses[i].body
    - }
                
              
          
